.card {
    border-radius: 10px;
    border-left: 10px solid pink;
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(144,149,161,.15);
    }
  
    .avatar {
    display: inline-flex;    
    border-radius: 40px;
    width: 55px;
    height: 55px;
    background-size: cover;
    }
    .subtitulo{
    color: rgba(83, 84, 87, 0.15);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    }
    .titulo{
    color: pink;
    font-size: 80px;
    font-family: 'Nunito', sans-serif;
    }
    .parrafo{
    color: black;
    font-size: 40px;
    width: 1000px;
    font-family: 'Nunito', sans-serif;
    }
    .descripcion{
    color: gray;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    
    }
    .profe{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    }