body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/625/513/non_2x/blue-space-stars-vector-background-night-sky.jpg);
    font-family: 'Nunito', sans-serif;  
}
.navbar{
    color: black;
    display: flex;
    height: 75px;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.barra{
    display: flex;
    list-style: none;
}

.logo{
    height: 50px;
    margin-left: 20px;
}
.items{
    margin-right: 20px;
    font-weight: bold;
    right: 10px;
}
.titulo{
    color: white;
    width: 48%;
    font-size: 30px;
    margin-top: 150px;
    margin-left: 20px;
    
}
.cohete{
    margin-left: 800px;
    border-radius: 100px;
    position: absolute;
    bottom: 150px;
}
.logo-menu{
    display: none;
}
.barra-mobile{
    display: none;
}

@media (max-width: 1024px){
    .barra{
        display: none;
    }
    .logo-menu{
        display: flex;
        width: 20px;
        height: 20px;
    }
    input{
        display: none;
    }
    input:checked ~ .barra-mobile{
        display: flex;
        background-color: white;
        width: 100px;
        flex-direction: column;
        right: 0px;
        top: 60px;
        list-style: none;
    }
    .navbar{
        position: relative;
    }
    .barra-mobile{
        position: absolute;
    }

}