.pagina{
    background-image: url("https://images.wallpapersden.com/image/download/patricio-rey-y-sus-redonditos-de-ricota-glasses-face_56336_1920x1080.jpg");
    background-size: cover;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}
.titulo{
    font-family: 'Nunito', sans-serif;
}
.subtitulo{
    font-family: 'Nunito', sans-serif;
}
.descripcion{
    font-family: 'Nunito', sans-serif;
    width: 60%;
}
.discografia{
    font-family: 'Nunito', sans-serif;
}